.header {
  border-bottom: 1px solid rgba(56, 72, 60, 0.15);
  background: var(--color-primary);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo {
  font-weight: 600;
  font-size: 1.125rem;
  color: white;
  font-weight: 700;
  letter-spacing: 6px;
}

.nav {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  a {
    font-family: var(--font-roboto), system-ui, sans-serif;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0;
    padding: 0.5rem;
    border-radius: 8px;
    transition:
      background-color 0.2s,
      color 0.2s;

    &:hover {
      color: white;
      background-color: var(--color-secondary);
    }

    &.active {
      color: white;
      background-color: var(--color-secondary);
    }
  }
}
