.page {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

.text {
  margin-bottom: 1rem;
}

.link {
  font-weight: 500;
  color: var(--color-primary);

  &:hover {
    text-decoration: underline;
  }
}
